*
{
    margin: 0;
    font-family: sans-serif;
}
body
{
    background-color: #152C39;
}
.headDiv
{
    display: flex;
    gap: 120px;
}
.hdiv
{
    display: flex;
    align-items: center;
    gap: 5px;
}
.select
{
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}
.textsDiv
{
    font-size: 20px;
    color: white;
    display: flex;
    gap: 20px;
}
.header
{
    display: flex;
    justify-content: center;
    gap: 200px;
    border-bottom: 1px solid grey;
    width: 86.5%;
    height: 100px;
    margin: auto;
    align-items: center;
}
.menu
{
    display: none;
}
.section1
{
    width: 85.5%;
    height: 270px;
    background-image: url(./Rectangle\ 7.png);
    color: white;
    margin: auto;
    margin-top: 50PX;
}
.border
{
    border: 1px solid white;
    width: 60px;
    padding: 5px;
    height: 20px;
    text-align: center;
    border-radius: 50px;
}
.border1
{
    border: 1px solid white;
    width: 200px;
    padding: 5px;
    height: 20px;
    text-align: center;
    border-radius: 50px;
}
.bigp
{
    font-size: 45px;
    font-weight: 700;
}
.pwidth
{
    width: 200px;
}
.backgroundp
{
    width: 280px;
    padding: 15px;
    height: 20px;
    background-color: red;
    border-radius: 50px;
    text-align: center;
    margin-top: 20px;
}
.backgroundp1
{
    width: 300px;
    padding: 15px;
    height: 20px;
    background-color: red;
    border-radius: 50px;
    text-align: center;
    margin-top: 20px;
}
.div1
{
    display: flex;
    gap: 10px;
}
.div1_1
{
    display: flex;
    align-items: start;
    gap: 50px;
    margin-top: 30px;
}
.sectdiv1
{
    margin-left: 10%;
    padding-top: 30PX;
}
.bigp1
{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}
.bigger
{
    font-size: 60px;
    font-weight: 700;
    width: 600px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}
.textsDiv1
{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}
.section2
{
    color: white;
}
.section3
{
    width: 100%;
    height: 525px;
    background-color: #476178;
    color: white;
    display: flex;
    gap: 70px;
    align-items: center;
    margin-top: 50px;
}
.grid
{
    display: grid;
    grid-template: repeat(2,235px)/repeat(4,302px);
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
}
.iteam1
{
    background-image: url(./pexels-anna-shvets-3987142\ 1\ \(1\).png);
    background-repeat: no-repeat;
}
.iteam2
{
    background-image: url(./pexels-anna-shvets-3987142\ 1\ \(1\).png);
}
.border2
{
    border: 1px solid white;
    width: 70px;
    padding: 8px;
    height: 20px;
    text-align: center;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 5%;
    color: white;
}
.section4
{
    width: 100%;
    height: 830px;
    background-color: white;
}
.t
{
    font-size: 50px;
    font-weight: 600;
    padding-top: 100px;
    margin-left: 9%;
}
@media(max-width: 520px)
{
    .header{
        height: 50px;
    }
    .himg
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .textsDiv
    {
        display: none;
    }
    .seldiv
    {
        display: none;
    }
    .menu{
        display: block;
    }
    .headDiv{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .bigp
    {
        font-size: 30px;
    }
    .section1
    {
        background-image: url(./Rectangle\ 7\ \(1\).png);
    }
    .div1_1
    {
        flex-direction: column;
    }
    .sectdiv1
    {
        margin-left: 5%;
    }
    .backgroundp
    {
        width: 90%;
        margin: auto;
        margin-top: 60px;
    }
    .bigger
    {
        font-size: 40px;
        width: 100%;
    }
    .textsDiv1
    {
        flex-direction: column;
        margin-left: 7%;
    }
    .section3
    {
        flex-direction: column;
        height: 550px;
    }
    .img1
    {
        width: 100%;
        
    }
    .texts
    {
        margin-top: -40px;
    }
    .iteam2
    {
        display: none;
    }
    .grid
    {
        grid-template-columns: 1fr;
    }
    
}


